
// films.component.html


<!-- Mostrar les starships -->

<div class="container text-center my-5 py-5">
  <div class="mt-5 pt-4">
    <div class="row gap-3 p-3 justify-content-center">

      <!-- Utilitza *ngFor per iterar sobre l'array de films -->
      <div class="card p-1 m-2 col-3 border-light" style="width: 20rem;" *ngFor="let film of films">
        <div class="card-body">
          <img
            style="width: 17rem;" src="https://starwars-visualguide.com/assets/img/films/{{film.episode_id}}.jpg"
            [alt]="film.title + ' film picture'"
            (error)="handleImageError($event)"> 
            >
          <h5 class="card-title text-white mt-3 p-3">{{ film.title }}</h5>
          <p class="card-text p-3 fs-6">{{ film.opening_crawl }}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Scroll per carregar més films -->
<div
  infiniteScroll [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="300"
  (scrolled)="loadMoreFilms()"
  >
</div>



