// Estils per al component Header

.login {
  display: flex;
  color: white;
  justify-content: flex-end;
}

.login:hover {
  color: rgb(235, 249, 79);
}

.bi {
  color: white;
  padding-right: 10px;
}
