<!-- Aquesta pàgina mostra una llista de les espècies de Star Wars. Utilitza el mètode `getSpecies` del servei `SpeciesService` per obtenir les dades de les espècies. -->

<div class="container text-center my-5 py-5">
  <div class="mt-4 pt-4">
    <div class="row gap-5 p-5 justify-content-center">

      <!-- Utilitza *ngFor per iterar sobre l'array de species -->
      <div class="card p-1 m-4 col-3 border-light" style="width: 15rem;" *ngFor="let specie of species;">
        <div class="card-body">
          <img
            style="width: 5rem;"
            src="https://starwars-visualguide.com/assets/img/species/{{specie.id}}.jpg"
            [alt]="specie.name + ' film picture'"
            (error)="handleImageError($event)"
          >
          <h5 class="card-title text-white p-3">{{ specie.name }}</h5>

        </div>
      </div>

    </div>
  </div>
</div>


<!-- Scroll per carregar més films -->
<div
  infiniteScroll [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="300"
  (scrolled)="loadMoreSpecies()"
  >
</div>


