

<!-- alert.component.html -->


// Aquest component es el que es mostra quan es vol mostrar un missatge d'alerta a l'usuari. Aquest component es mostra a la part superior de la pàgina i es pot configurar per mostrar diferents tipus d'alertes com ara errors, advertències, informació, etc. Aquest component es mostra quan es vol mostrar un missatge d'alerta a l'usuari. Aquest component es mostra a la part superior de la pàgina i es pot configurar per mostrar diferents tipus d'alertes com ara errors, advertències, informació, etc.

@if(alert){
  <div class="mt-4" [ngClass]="alert.cssClass">{{alert.message}}</div>
  }
