
/* Definició de l'estil de la pàgina de benvinguda */


.cursor {
  cursor: pointer;
}

.carrousel-custom {
  background-color: none;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0);   /* Elimina el fons canviant l'opacitat a 0 */
  bottom: auto;                     /* Ajusta aquest valor segons necessitis */
  top: 50%;                         /* Centra verticalment o ajusta segons necessitis */
  transform: translateY(50%);       /* Ajusta la posició vertical */
}

.custom-btn  {
  position: absolute;                   /* Posició absoluta respecte al seu contenidor relatiu més proper */
  top: 50%;                             /* Centra verticalment dins de la imatge */
  left: 50%;                            /* Centra horitzontalment */
  transform: translate(-50%, -50%);     /* Ajusta per a centrar exactament */
  background-color: transparent;        /* Opcional: fa el fons del botó transparent */
}

h3 {
  background: rgba(0, 0, 0, 0);       /* Elimina el fons canviant l'opacitat a 0 */
  position: absolute;
  top: -15%;                            /* Centra verticalment dins de la imatge */
  left: 22%;                            /* Centra horitzontalment */
  transform: translate(-50%, -50%);     /* Ajusta per a centrar exactament */
  background-color: transparent;        /* Posició absoluta respecte al seu contenidor relatiu més proper */
  text-transform: uppercase;            /* Converteix el text a majúscules */
  width: 300px;                         /* Ajusta la mida del text segons necessitis */
}

.custom-btn2  {
  position: relative;                   /* Posició absoluta respecte al seu contenidor relatiu més proper */
  top: 60%;                             /* Centra verticalment dins de la imatge */
  left: 15%;                            /* Centra horitzontalment */
  transform: translate(-80%, -470%);     /* Ajusta per a centrar exactament */
}

.custom-h2{
  background: rgba(0, 0, 0, 0);       /* Elimina el fons canviant l'opacitat a 0 */
  position: relative;
  top: 60%;                             /* Centra verticalment dins de la imatge */
  left: 15%;                            /* Centra horitzontalment */
  transform: translate(-35%, -250%);     /* Ajusta per a centrar exactament */
  background-color: transparent;        /* Posició absoluta respecte al seu contenidor relatiu més proper */
  width: 350px;
}



/* Media queries per a dispositius mòbils */
@media (max-width: 768px) {
  h3 {
    top: 10%;
    left: 50%;
    width: 90%;
    font-size: 14px; /* Ajusta la mida de la lletra per a pantalles més petites */
  }

  .custom-btn, .custom-btn2 {
    top: 40%; /* Ajusta la posició dels botons */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
  }

  .custom-h2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Augmenta l'amplada per a una millor visualització en mòbils */
    font-size: 14px;
  }
}

/* Media queries per a tauletes */
@media (min-width: 769px) and (max-width: 1024px) {
  h3, .custom-h2 {
    font-size: 18px; /* Ajusta la mida de la lletra per a pantalles de tauleta */
  }

  .custom-btn, .custom-btn2 {
    top: 45%; /* Ajusta lleugerament la posició per a tauletes */
  }
}
