

<!-- Hero text -->
<section>
  <div class="mt-5 pt-5 text-center">
    <div class="mt-5">
      <p class=" mt-5 pt-5">
        <a class="text-light text-uppercase fw-light cursor text-decoration-none"
          href="https://www.disneyplus.com/es-es/brand/star-wars?cid=DTCI-Synergy-StarWars-Site-Acquisition-Library-US-StarWars-NA-EN-NavPipe-StarWars_NavPipe_StarWarsStreamingAnytimeonDisneyPlus_Evergreen-NA/">
          all of your star wars favourites now streaming on disney+
        </a>
      </p>
    </div>
  </div>
</section>

<!-- Carrusel -->
<section class="container container-carousel">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active label-one" data-bs-interval="5000">
        <img src="./../../../assets/carrousel/yja-generic-hero-desktop_aaae57a5.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption text-start  ">
          <div class="carousel-caption-content bg-transparent  p-3 align-items-center custom-carrusel-div">
            <h3 style="width: 300px" >New episode available on Disney+ and Disney Junior</h3>
            <a class="btn btn-warning rounded-pill text-white py-3 px-5 text-uppercase mt-3 btn-custom-carrusel" href="https://ondisneyplus.disney.com/show/star-wars-young-jedi-adventures">Check it out</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="./../../../assets/carrousel/the-bad-batch-is-here-sashsingle-hero-desktop_28c4218e.jpeg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption text-start  ">
          <div class="carousel-caption-content bg-transparent p-3 align-items-center custom-carrusel-div">
            <h3>star wars: The Bad Batch is Back ! </h3>
            <a class="btn btn-warning rounded-pill text-white py-3 px-5 text-uppercase btn-custom-carrusel" href="https://www.disneyplus.com/es-es/series/the-bad-batch/4gMliqFxxqXC?cid=DTCI-Synergy-StarWars-Site-Acquisition-Originals-US-StarWars-StarWarsBadBatch-EN-HomeScreenHero-StarWars_BadBatch_Hero_StreamNow-NA">Stream now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="./../../../assets/carrousel/the-bad-batch-refresher-sw2-hero-desktop_0659bafc.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption text-start  ">
          <div class="carousel-caption-content bg-transparent  p-3 align-items-center custom-carrusel-div">
            <h3 class="">what has happened so far on star wars: The Bad Batch? </h3>
            <a class="btn btn-warning mt-3 rounded-pill text-white py-3 px-5 text-uppercase btn-custom-carrusel" href="https://www.starwars.com/news/the-bad-batch-season-3-refresher">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Publi -->
<section class="container ">
  <div class="mt-5">
    <div class="bg-transparent align-items-center">
      <img class="img-fluid" src="./../../../assets/carrousel/the-bad-batch-is-here-sashsingle-hero-desktop_28c4218e.jpeg"/>
      <h2 class="custom-h2 text-light" >The final season is now streaming, only on Disney+</h2>
      <a class="btn btn-warning rounded-pill text-white py-3 px-5 text-uppercase custom-btn2" href="https://www.disneyplus.com/es-es/series/the-bad-batch/4gMliqFxxqXC?cid=DTCI-Synergy-StarWars-Site-Acquisition-Originals-US-StarWars-StarWarsBadBatch-EN-HomeScreenHero-StarWars_BadBatch_Hero_StreamNow-NA">Explore</a>
    </div>
  </div>
</section>
