

@import "primeicons/primeicons.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Estils globals

* {
  background-color: black;
  // background: url(../../starwars_copy_rafa/src/assets/background/background.jpg);
}

p {
  background-color: black;
  color: white;
}
