@import "primeicons/primeicons.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Estils globals

* {
  background-color: black;
  // background: url(../../starwars/src/assets/background/fondo.jpg)
 }

p {
  background-color: black;
  color: white;
}
