

// navbar.component.scss

.nav-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;

}

.nav-link:hover {
  color: rgb(235, 249, 79);
}

.cursor {
  cursor: pointer;
}

.nav-link.active {
  color: #e0ec0c !important;                   /* Canvia això pel color de text que vulguis per a l'element actiu */
  font-weight: lighter;
}
