
<!-- planets.component.html -->

<!-- Aquesta pàgina mostra els planetes de Star Wars. Utilitza el mètode getPlanets() del servei SWAPIService per obtenir els planetes de Star Wars. Utilitza *ngFor per iterar sobre l'array de planetes i mostrar-los en una targeta. -->


<div class="container text-center my-5 py-5">
  <div class="mt-4 pt-4">
    <div class="row gap-5 p-5 justify-content-center">

      <!-- Utilitza *ngFor per iterar sobre l'array de films -->
      <div class="card p-1 m-4 col-3 border-light" style="width: 15rem;" *ngFor="let planet of planets;">
        <div class="card-body">
          <img
            style="width: 5rem;"
            src="https://starwars-visualguide.com/assets/img/planets/{{planet.id}}.jpg"
            [alt]="planet.name"
            (error)="handleImageError($event)"
          >
          <h5 class="card-title text-white p-3">{{ planet.name }}</h5>
        
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Scroll per carregar més films -->
<div
  infiniteScroll [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="300"
  (scrolled)="loadMorePlanets()"
  >
</div>



