
<!-- Mostrar les starships -->

<div class="container pt-5">
  <div class="row gap-5 p-4 justify-content-center">
    @for (starship of starships; track starship.id) {
    <div class="card p-1" style="width: 30rem;">
      <div class="card-body cursor" (click)="viewShip(starship.id)">
        <h5 class="card-title text-white">{{ starship.name }}</h5>
        <p class="card-text">{{ starship.model }}</p>
      </div>
    </div>
    }
  </div>
</div>


// Scroll per carregar més starships
<div
  infiniteScroll [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="300"
  (scrolled)="loadMoreStarships()"
  >
</div>


