<!-- starships.component.html -->


<!-- Mostrar les starships -->

<div class="container mt-5 pt-5">
  <div class="row mt-5 gap-5 pt-5 justify-content-center">
    @for (starship of starships; track starship.id) {
    <div class="card border-light p-1 mt-5" style="width: 25rem; height: 15rem;">
      <div class="card-body cursor container" (click)="viewShip(starship.id)">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-white">{{ starship.name }}</h5>
            <p class="card-text">{{ starship.model }}</p>
          </div>
          <div class="col">
            <div class="mt-5 text-center">
              <img
                style="width: 10rem;"
                src="https://starwars-visualguide.com/assets/img/starships/{{starship.id}}.jpg"
                [alt]="starship.name + ' picture'"
                (error)="handleImageError($event)"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>


</div>


<!-- Scroll per carregar més starships -->
<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="loadMoreStarships()">
</div>



